<div class="sidebar">
  <!-- Logo جوه sidebar -->
  <div class="logo-sidebar">
    <img class="logo-image" src="assets/images/Logo.png" alt="Logo">
    <span class="logo-text">كتابك</span>
  </div>

  <ul class="sidebar-menu">
    <li class="normal">
      <a href="#">الرئيسية</a>
      <img src="assets/icons/Chart.png" alt="Chart Icon" class="icon">
    </li>
    <li class="active">
      <a href="#">المواد الدراسية</a>
      <img src="assets/icons/Document.png" alt="Document Icon" class="icon">
    </li>
  </ul>

  <div class="Exit">
    <a href="#" class="Exit-text">تسجيل الخروج</a>
    <img src="assets/icons/exit.png" alt="Exit Icon" class="icon">
  </div>
</div>
