
.logo-sidebar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem; /* مسافة بين الشعار والقائمة */
}

.logo-sidebar .logo-image {
  width: 50px;
  height: 50px;
}

.logo-sidebar .logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #FF3CA6;
}

.sidebar {
  width: 220px;
  background-color: #FFD4EC;
  padding: 1rem;
  direction: rtl;

  position: fixed; /* ثابت على الصفحة */
  top: 0;
  right: 0;        /* يمين الصفحة */
  height: 100vh;   /* طول الشاشة بالكامل */

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.sidebar-menu li {
  margin-bottom: 1rem;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
  float: right;
}

.sidebar-menu a {
  text-decoration: none;
  color: #09243499;
  font-weight: bold;
}

.active {
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 2rem;
}

.normal {
  padding: 0.5rem;
}

.Exit {
  padding: 0.5rem;
  margin-top: 20rem;
}

.Exit-text {
  color: #FF3BA6;
  text-decoration: none;
}