<div class="Card-text-container">
      <h2 class="Card-text">اختيار من متعدد</h2>
      <p class="Card-text-subtitle">نص السؤال ...</p>

      <div class="options-row">
        <!-- الخيار الأول + -->
        <div class="pink-option">
          <span class="plus-icon">+</span>
          <p class="add">خيار جديد</p>
        </div>

        <!-- الثلاثة خيارات الباقية -->
        <label class="option-circle">
          <input type="checkbox" />
          <span class="circle"></span>
          <p class="level">سهل</p>
        </label>

        <label class="option-circle">
          <input type="checkbox" />
          <span class="circle"></span>
          <p class="level">متوسط</p>
        </label>

        <label class="option-circle">
          <input type="checkbox" />
          <span class="circle"></span>
          <p class="level">صعب</p>
        </label>
      </div>

      <div class="two-options-row">
        <!-- الخيار الأول -->
        <div class="option-wrapper">
          <div class="sub-option">
            <p>الاختيار الأول</p>
          </div>
          <label class="option-circle correct-answer">
            <input type="checkbox" />
            <span class="circle"></span>
            <p>تحديد كإجابة صحيحة</p>
          </label>
        </div>

        <!-- الخيار الثاني -->
        <div class="option-wrapper">
          <div class="sub-option">
            <p>الاختيار الثاني</p>
          </div>
          <label class="option-circle correct-answer">
            <input type="checkbox" />
            <span class="circle"></span>
            <p>تحديد كإجابة صحيحة</p>
          </label>
        </div>
      </div>

      <div class="options-row">
        <div class="save">
          <p>حفظ كمسودة</p>
        </div>

        <div class="delete-option">
          <p>إلغاء</p>
        </div>
      </div>
    </div>