<div class="subjects-container">
  <!-- التابز -->
  <div class="header-space">
    <div 
      class="tab subjects-page-title" 
      [class.active]="activeTab() === 'subjects'"
      (click)="setTab('subjects')">
        المواد الدراسية
        <img src="assets/icons/document-text.png" alt="Document Icon" class="icon">
    </div>

    <div 
      class="tab exersices-page-title"
      [class.active]="activeTab() === 'exercises'"
      (click)="setTab('exercises')">
        كل التمارين
        <img src="assets/icons/exersices.png" alt="exersices Icon" class="icon">
    </div>
  </div>

  <!-- صفحة المواد الدراسية -->
  <div *ngIf="activeTab() === 'subjects'">
    <h2 class="cards-title">المواد</h2>
    <app-cards-component></app-cards-component>
  </div>

  <!-- صفحة كل التمارين -->
  <div *ngIf="activeTab() === 'exercises'">

    <app-exercises-component></app-exercises-component>
  </div>
</div>
